<section class="feedback-area ptb-100" id="feedback">
  <div class="container">
    <div class="section-title">
      <h4>O que dizem os especialistas</h4>
      <h2><span>Frases</span> inspiradoras sobre dados</h2>
    </div>

    <div class="feedback-grid">
      <div class="single-feedback-item" *ngFor="let feedback of feedbacks">
        <p>"{{ feedback.quote }}"</p>
        <div class="info">
          <h3>{{ feedback.name }}</h3>
          <span>{{ feedback.role }}</span>
          <img [src]="feedback.img" [alt]="feedback.name" class="shadow rounded-circle">
        </div>
      </div>
    </div>
  </div>
</section>
