<div id="welcome" class="welcome-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h4>Sua Parceira em Ciência de Dados</h4>
            <h2>Bem vindo à <span>VICS</span></h2>
            <p>Onde a ciência de dados se transforma em soluções empresariais
                revolucionárias. Nossa paixão é desbloquear o potencial dos
                dados para catalisar mudanças, inovação e crescimento. Ao se
                associar conosco, você embarca em uma jornada de transformação
                de dados, onde cada insight abre novos horizontes para o seu
                negócio. Mergulhe conosco no fascinante mundo dos dados e
                descubra como nossa expertise pode ajudar sua empresa a
                florescer em um ambiente competitivo e em constante evolução.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <h3>Transformação através dos Dados</h3>
                    <p>Na VICS, desvendamos o potencial oculto dos dados,
                        convertendo-os em insights que impulsionam inovação e
                        sucesso nos negócios.</p>
                    <a (click)="onClick('about')" title="Read More"
                        class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="fas fa-user-friends"></i>
                    </div>
                    <h3>Além das Expectativas</h3>
                    <p>Com nossa equipe de especialistas, oferecemos análises
                        avançadas e soluções inteligentes, superando suas
                        expectativas e compreendendo os desafios do seu negócio.</p>
                    <a (click)="onClick('about')" title="Read More"
                        class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <h3>Navegando Rumo ao Futuro</h3>
                    <p>Abordamos cada projeto com paixão e criatividade,
                        utilizando modelagem preditiva e análise de dados para
                        impulsionar decisões inteligentes, crescimento
                        sustentável e competitividade no mercado.</p>
                    <a (click)="onClick('about')" title="Read More"
                        class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape1.png" alt="image"></div>
</div>