<div id="services" class="services-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Nossos <span>Serviços</span></h2>
      <p>
        Oferecemos soluções de engenharia de dados personalizadas para
        transformar dados em insights práticos, ajudando empresas a tomarem
        decisões mais informadas. Nossa experiência cobre desde a análise de
        dados financeiros e de marketing até a otimização de processos e
        implementação de sistemas de machine learning. Todos os serviços são
        projetados para atender às necessidades específicas do seu negócio,
        assegurando resultados eficientes e de alto impacto. Casos de sucesso
        comprovam o valor que trazemos aos nossos clientes.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/bi.jpg" alt="services-img" />
            <div class="icon"><i class="fas fa-pencil-alt"></i></div>
          </div>
          <div class="services-content">
            <h3>Business Intelligence</h3>
            <p>
              Ajudamos sua empresa a compreender dados de maneira clara,
              oferecendo relatórios e dashboards que facilitam a tomada de
              decisões estratégicas.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/datawh.jpg" alt="services-img" />
            <div class="icon"><i class="fab fa-linode"></i></div>
          </div>
          <div class="services-content">
            <h3>Data Warehousing</h3>
            <p>
              Desenvolvemos soluções para armazenar grandes volumes de dados de
              forma organizada, facilitando o acesso e a análise rápida e
              eficaz.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/big_data.png" alt="services-img" />
            <div class="icon"><i class="fas fa-desktop"></i></div>
          </div>
          <div class="services-content">
            <h3>Big Data</h3>
            <p>
              Transformamos grandes volumes de dados em informações úteis,
              permitindo análises detalhadas e ações estratégicas com base em
              dados concretos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/datascience.webp" alt="services-img" />
            <div class="icon"><i class="fas fa-chart-line"></i></div>
          </div>
          <div class="services-content">
            <h3>Ciência de Dados</h3>
            <p>
              Preparação e análise de dados complexos para oferecer previsões e
              insights detalhados, além de desenvolver modelos de machine
              learning personalizados.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/datamigration.webp" alt="services-img" />
            <div class="icon"><i class="fas fa-anchor"></i></div>
          </div>
          <div class="services-content">
            <h3>Migração de Dados</h3>
            <p>
              Realizamos a transferência segura e eficiente de dados entre
              sistemas, minimizando interrupções e garantindo a continuidade dos
              processos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/dataintegration.webp" alt="services-img" />
            <div class="icon"><i class="fas fa-headphones-alt"></i></div>
          </div>
          <div class="services-content">
            <h3>Integração de Dados</h3>
            <p>
              Integramos dados de diferentes fontes e formatos, criando uma
              visão unificada e acessível para suas operações de negócio.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/cloud_computing.jpg" alt="services-img" />
            <div class="icon"><i class="fas fa-mobile-alt"></i></div>
          </div>
          <div class="services-content">
            <h3>Cloud Computing</h3>
            <p>
              Oferecemos soluções de integração de dados que combinam ambientes
              locais e em nuvem, otimizando custos e aumentando a eficiência.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/dev_angular.jpg" alt="services-img" />
            <div class="icon"><i class="fas fa-camera-retro"></i></div>
          </div>
          <div class="services-content">
            <h3>Desenvolvimento Web em Angular</h3>
            <p>
              Construímos aplicações web dinâmicas e responsivas que oferecem
              uma experiência de usuário moderna e interativa, utilizando
              Angular.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img src="assets/img/python.jpg" alt="services-img" />
            <div class="icon"><i class="far fa-life-ring"></i></div>
          </div>
          <div class="services-content">
            <h3>Desenvolvimento Backend em Python</h3>
            <p>
              Desenvolvemos soluções robustas e escaláveis para o backend,
              incluindo APIs e integrações complexas, com foco em desempenho e
              segurança.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
