<div id="about" class="about-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Sobre <span>VICS</span></h2>
            <p>Visão inteligente para o caminho do sucesso</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2>Nossa <span>Missão e Valores</span></h2>
                        <p>Na VICS, nossa missão é clara: ajudar empresas a desvendar os segredos ocultos em seus dados, abrindo caminho para o sucesso. Acreditamos que os insights derivados de dados são a chave para decisões de negócios mais inteligentes e eficientes. Nossos valores giram em torno de abordagens únicas, tecnologias de ponta, qualidade excepcional de serviço e um compromisso inabalável com o atendimento ao cliente.</p>
                    </div>
                    <div class="section-title">
                        <h2>Serviços Oferecidos</h2>
                        <p>Oferecemos uma gama completa de serviços, incluindo:</p>
                    </div>

                    <ul class="features-list">
                        <li><i class="fas fa-check"></i>Consultoria em Ciência de Dados</li>
                        <li><i class="fas fa-check"></i>Desenvolvimento Web em Angular</li>
                        <li><i class="fas fa-check"></i>Desenvolvimento Backend em Python</li>
                        <li><i class="fas fa-check"></i>Infraestrutura Cloud em AWS e GCP</li>
                    </ul>
                    <div class="section-title">
                        <h2>Diferenciais</h2>
                        <p>O que nos diferencia no mercado é a nossa capacidade de fornecer soluções personalizadas que atendem às necessidades específicas de cada cliente. Nossa equipe é altamente qualificada e dedicada, garantindo não só a qualidade técnica, mas também um relacionamento próximo e atencioso com cada cliente.</p>    
                    </div>
                    <div class="section-title">
                        <h2>Junte-se a Nós em Sua Jornada de Dados</h2>
                        <p>Seja para desenvolver uma aplicação web de ponta, implementar estratégias de ciência de dados, ou otimizar sua infraestrutura na nuvem, a VICS está aqui para guiá-lo. Entre em contato conosco e descubra como podemos ajudar a transformar seus dados em decisões de negócios poderosas.</p>    
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-video">
                    <img src="assets/img/about.jpg" alt="about">
                    <div class="video-btn">
                        <!-- <button class="popup-youtube" (click)="ngxSmartModalService.getModal('popupOne').open()"><i class="fas fa-play"></i></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="video-popup">
    <!-- <ngx-smart-modal #popupOne [identifier]="'popupOne'">
        <iframe src="https://www.youtube.com/embed/WQ119jAN4Xo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ngx-smart-modal> -->
</div>