<div class="why-we-different ptb-100 bg-F7F5F4">
    <div class="container">
        <div class="section-title">
            <h2>Por que somos  <span>diferentes</span></h2>
            <p>Na VICS, nos diferenciamos pela nossa abordagem personalizada e foco inabalável na qualidade. Utilizamos tecnologias de ponta e inovamos constantemente em nossas metodologias para entregar insights precisos e acionáveis. Nossa equipe de especialistas é dedicada não apenas à análise de dados, mas também a entender as nuances de cada negócio, garantindo soluções verdadeiramente personalizadas. O sucesso dos nossos clientes é o que nos motiva, e estamos comprometidos em ser parceiros confiáveis em suas jornadas rumo ao crescimento e excelência.</p>
        </div>
        <div class="tabset why-we-different-tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="speed-flexibility" checked>
            <label for="tab1">Velocidade, flexibilidade</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="profeesional-work">
            <label for="tab2">Trabalho profissional</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="experienced-staff">
            <label for="tab3">Equipe experiente</label>
            <!-- Tab 4 -->
            <input type="radio" name="tabset" id="tab4" aria-controls="custom-support">
            <label for="tab4">Suporte personalizado</label>
            <div class="tab-panels">
                <div id="speed-flexibility" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="assets/img/speed.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Velocidade, flexibilidade</h3>
                                <p>Na VICS, valorizamos a velocidade e a flexibilidade como aspectos essenciais do nosso serviço de consultoria em ciência de dados. Respondemos rapidamente às necessidades dos nossos clientes, adaptando-nos às mudanças do mercado e aos desafios específicos com agilidade e eficiência. Nossos processos otimizados e o uso de tecnologias de ponta nos permitem entregar análises e insights de forma rápida e precisa. Além disso, nossa abordagem flexível significa que podemos personalizar nossos serviços para atender exatamente às necessidades de cada cliente, seja em projetos pequenos ou em demandas que requerem rápida escalabilidade. Nossa meta é assegurar que nossos clientes sempre recebam soluções de dados rápidas, eficazes e perfeitamente alinhadas com seus objetivos de negócios.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i> Resposta Rápida às Necessidades do Cliente</li>
                                    <li><i class="fas fa-check"></i> Adaptação a Mudanças e Desafios</li>
                                    <li><i class="fas fa-check"></i> Processos Eficientes e Metodologia Ágil</li>
                                    <li><i class="fas fa-check"></i> Tecnologias Avançadas para Análise Rápida</li>
                                    <li><i class="fas fa-check"></i> Personalização de Serviços</li>
                                    <li><i class="fas fa-check"></i> Capacidade de Escalar Serviços</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profeesional-work" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="assets/video/trabalho_profissional.gif" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Trabalho profissional</h3>
                                <p>Na VICS, nos orgulhamos do trabalho profissional que realizamos em consultoria de ciência de dados. Nosso compromisso inabalável com a qualidade, combinado com uma ética profissional rigorosa, nos permite entregar resultados excepcionais. Nossa equipe, composta por especialistas altamente capacitados, aplica uma abordagem meticulosa em cada projeto, garantindo precisão e confiabilidade. Damos grande ênfase à atenção aos detalhes e estamos sempre focados em gerar resultados orientados que excedam as expectativas dos nossos clientes. Além disso, a constante busca pela inovação e a atualização de nossas práticas nos mantém à frente no campo da ciência de dados. É essa dedicação ao profissionalismo e à excelência que nos define e diferencia no mercado.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i> Compromisso com a Qualidade</li>
                                    <li><i class="fas fa-check"></i> Profissionalismo e Ética</li>
                                    <li><i class="fas fa-check"></i> Experiência e Expertise</li>
                                    <li><i class="fas fa-check"></i> Atenção aos Detalhes</li>
                                    <li><i class="fas fa-check"></i> Resultados Orientados</li>
                                    <li><i class="fas fa-check"></i> Atualização e Inovação Contínua</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="experienced-staff" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="assets/img/equipe .jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Pessoal experiente</h3>
                                <p>Na VICS, orgulhamo-nos do nosso pessoal experiente, que é o alicerce do nosso sucesso. Com formações acadêmicas sólidas e anos de experiência prática, nossa equipe de cientistas de dados é composta por alguns dos melhores profissionais do setor. Eles possuem habilidades técnicas avançadas em programação, análise estatística e machine learning, permitindo-nos fornecer soluções de dados robustas e personalizadas. Além disso, nossa equipe está sempre aprendendo e se adaptando, garantindo que estamos sempre na vanguarda da inovação em ciência de dados. Através de seu trabalho, já alcançamos inúmeros sucessos e reconhecimentos, reafirmando nosso compromisso com a excelência e a liderança no campo da análise de dados.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i> Qualificações e Formação Acadêmica</li>
                                    <li><i class="fas fa-check"></i> Experiência Profissional</li>
                                    <li><i class="fas fa-check"></i> Habilidades Técnicas e Especializações</li>
                                    <li><i class="fas fa-check"></i> Capacidade de Solução de Problemas</li>
                                    <li><i class="fas fa-check"></i> Compromisso com a Atualização Contínua</li>
                                    <li><i class="fas fa-check"></i> Casos de Sucesso e Reconhecimento</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="custom-support" class="tab-panel">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-img">
                                <img src="assets/img/quick.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="why-we-different-content">
                                <h3>Suporte</h3>
                                <p>Em nossa consultoria de ciência de dados, o 'Suporte Personalizado' vai além do atendimento ao cliente – é uma filosofia central. Cada cliente é único, e nossa abordagem reflete isso, com soluções e assistência moldadas às necessidades específicas de cada negócio. Estamos sempre disponíveis para responder dúvidas e oferecer suporte, seja através de comunicação direta ou treinamento especializado. Nos adaptamos flexivelmente a mudanças e mantemos um diálogo contínuo, assegurando que nossos serviços estejam sempre em sintonia com os objetivos em evolução dos nossos clientes. Nosso compromisso é com a construção de relacionamentos de longo prazo, apoiando cada cliente em cada etapa de sua jornada com dados.</p>
                                <ul>
                                    <li><i class="fas fa-check"></i> Atendimento Individualizado</li>
                                    <li><i class="fas fa-check"></i> Disponibilidade e Acessibilidade</li>
                                    <li><i class="fas fa-check"></i> Treinamento e Educação</li>
                                    <li><i class="fas fa-check"></i> Comunicação Contínua e Feedback</li>
                                    <li><i class="fas fa-check"></i> Adaptação e Flexibilidade</li>
                                    <li><i class="fas fa-check"></i> Relacionamento de Longo Prazo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>