.request-contact {
    text-align: center; // Centraliza o texto
    display: flex;
    flex-direction: column;
    align-items: center; // Alinha os itens ao centro
    justify-content: center; // Centraliza os itens verticalmente

    img {
        margin: 0 auto; // Centraliza a imagem
        display: block; // Garante que a imagem se comporte como um bloco
    }

    h1 {
        margin-top: 20px; // Espaçamento no topo do título
    }

    p {
        margin: 20px 0; // Espaçamento acima e abaixo do parágrafo
    }
}