<div class="request-contact ptb-70 bg-fffdfd">
    <div class="container">
        <div class="request-contact">
            <img src="assets/icons/icon-96x96.png">
            <h1>Obrigado por Entrar em Contato!</h1>
            <p>Sua mensagem foi recebida com sucesso. Agradecemos o seu
                interesse na VICS. Nossa equipe analisará sua solicitação e
                entrará em contato em breve. Enquanto isso, sinta-se à vontade
                para explorar nosso site e conhecer mais sobre nossos serviços e
                como podemos ajudar a transformar os seus dados em soluções de
                negócio inteligentes.</p>

            Atenciosamente,
            Equipe VICS
        </div>
    </div>
</div>