<nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        [class.active]="classApplied"
        [ngClass]="{'sticky': isSticky}">
        <div class="container">
                <a class="navbar-brand" routerLink="/"><span>V</span>ICS</a>
                <button class="navbar-toggler" type="button"
                        (click)="toggleClass()">
                        <span class="burger-menu">
                                <span class="top-bar"></span>
                                <span class="middle-bar"></span>
                                <span class="bottom-bar"></span>
                        </span>
                </button>
                <div class="collapse navbar-collapse"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a href="/"><span
                                                        class="nav-link">Início</span></a></li>
                                <li class="nav-item"><a [routerLink]="'/'"
                                                fragment="realidade"><span
                                                        class="nav-link"
                                                        (click)="onClick('realidade')">Realidade</span></a></li>
                                <li class="nav-item"><a [routerLink]="'/'"
                                                fragment="erro"><span
                                                        class="nav-link"
                                                        (click)="onClick('erro')">Erro invisível</span></a></li>
                                <li class="nav-item"><a [routerLink]="'/'"
                                                fragment="produtos"><span
                                                        class="nav-link"
                                                        (click)="onClick('produtos')">Produtos</span></a></li>
                                <li class="nav-item"><a [routerLink]="'/'"
                                                fragment="plano"><span
                                                        class="nav-link"
                                                        (click)="onClick('plano')">Plano</span></a></li>
                                <li class="nav-item"><a
                                                [routerLink]="'/'"
                                                fragment="contact"><span
                                                        class="nav-link">Contato</span></a></li>
                        </ul>
                        <ul class="navbar-nav ml-auto for-responsive">
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('home')">Início</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('realidade')">Realidade</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('erro')">Erro invisível</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('produtos')">Produtos</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('plano')">Plano</span></li>
                                <li class="nav-item"><a routerLink="/"
                                                fragment="contact"><span
                                                        class="nav-link">Contato</span></a></li>
                        </ul>
                </div>
        </div>
</nav>
