<nav
        class="navbar navbar-expand-lg navbar-light bg-light"
        [class.active]="classApplied"
        [ngClass]="{'sticky': isSticky}">
        <div class="container">
                <a class="navbar-brand" routerLink="/"><span>V</span>ICS</a>
                <button class="navbar-toggler" type="button"
                        (click)="toggleClass()">
                        <span class="burger-menu">
                                <span class="top-bar"></span>
                                <span class="middle-bar"></span>
                                <span class="bottom-bar"></span>
                        </span>
                </button>
                <div class="collapse navbar-collapse"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><span class="nav-link"
                                                (click)="onClick('home')">Início</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="onClick('about')">Sobre</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="onClick('services')">Serviços</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="onClick('work')">Trabalhos</span></li>
                                <li class="nav-item"><span class="nav-link"><a
                                                        href="https://blog.engenhariadedados.tec.br"
                                                        target="_blank">Blog</a></span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="onClick('contact')">Contato</span></li>
                        </ul>
                        <ul class="navbar-nav ml-auto for-responsive">
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('home')">Início</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('about')">Sobre</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('services')">Serviços</span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('work')">Trabalhos</span></li>
                                <li class="nav-item"><span class="nav-link"><a
                                                        href="https://blog.engenhariadedados.tec.br"
                                                        target="_blank">Blog</a></span></li>
                                <li class="nav-item"><span class="nav-link"
                                                (click)="toggleClass(); onClick('contact')">Contato</span></li>
                        </ul>
                </div>
        </div>
</nav>