<section class="how-work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>A importância do <span>ETL</span> na Ciência de Dados:</h2>
            <ul class="features-list">
                <li><i class="fas fa-check"></i> Qualidade dos Dados <p>O ETL assegura que os dados estejam limpos e organizados, o que é crucial para qualquer análise de dados confiável. Dados de baixa qualidade podem levar a insights imprecisos e decisões de negócios erradas.</p></li>
                <li><i class="fas fa-check"></i> Eficiência <p>Automatizar o processo de ETL pode economizar tempo e recursos significativos, permitindo que cientistas de dados e analistas se concentrem em análises mais complexas e na geração de insights.</p></li>
                <li><i class="fas fa-check"></i> Consistência e Confiabilidade <p>ETL ajuda a manter a consistência e confiabilidade dos dados ao longo do tempo, o que é essencial para monitorar as tendências e realizar análises históricas.</p></li>
                <li><i class="fas fa-check"></i> Integração de Dados <p>Em um mundo onde os dados vêm de fontes incrivelmente variadas, o ETL é fundamental para integrar esses dados de maneira significativa, possibilitando uma visão mais completa e informada para a tomada de decisões.</p></li>
            </ul>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-work">
                    <div class="icon">
                        <i class="fas fa-info-circle"></i>
                    </div>
                    <h3>Extração</h3>
                    <p>Este é o primeiro passo do ETL, onde os dados são coletados de diferentes fontes. Estas fontes podem variar desde bases de dados simples até sistemas de arquivos complexos. O objetivo aqui é reunir todos os dados necessários para a análise.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-work">
                    <div class="icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <h3>Transformação</h3>
                    <p> Uma vez que os dados são extraídos, eles podem não estar prontos para serem analisados. Eles podem estar incompletos, desorganizados ou inconsistentes. A transformação envolve a limpeza, organização e consolidação desses dados em um formato que seja útil para análise. Isso pode incluir a remoção de dados duplicados, a correção de erros, a conversão de formatos e a combinação de dados de diferentes fontes.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-how-work">
                    <div class="icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <h3>Carregamento</h3>
                    <p>Após a transformação, os dados são carregados em um sistema de armazenamento, como um data warehouse, onde podem ser facilmente acessados, analisados e utilizados para tomada de decisões. Este passo garante que os dados estejam disponíveis de maneira segura e eficiente.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="image"></div>
</section>