<footer class="footer-area">
    <div class="container">
        <h3><a routerLink="/">VICS</a></h3>
        <ul>
            <li><a
                    href="https://www.facebook.com/people/VICS-Consultoria/61555044575855/"
                    target="_blank" class="fab fa-facebook-f"></a></li>
            <li><a href="https://twitter.com/vicsdevbr" target="_blank"
                    class="fab fa-twitter"></a></li>
            <li><a href="#" target="_blank" class="fab fa-linkedin-in"></a></li>
            <li><a href="https://www.instagram.com/vicsdevbr" target="_blank"
                    class="fab fa-instagram"></a></li>
            <li><a href="#" target="_blank" class="fab fa-youtube"></a></li>
        </ul>
        <p>VICS © Todos os direitos reservados</p>
    </div>
</footer>

<!--<app-demo-sidebar></app-demo-sidebar>-->

<ngx-scrolltop></ngx-scrolltop>