<div id="privace_policy_page" class="privace_policy_page ptb-100">
    <div class="container">
        <div class="section-title">
            <h4>Política de Privacidade da VICS</h4>
            <h2><span>Última Atualização:</span> 01/01/2023</h2>
        </div>
        <div class="privace-policy-page">
            <ul class="features-list">
                <li>1. Introdução
                    <p>Esta Política de Privacidade descreve como a VICS ("nós",
                        "nosso")
                        coleta, usa,
                        compartilha e protege as informações pessoais dos
                        usuários ("você")
                        do
                        nosso
                        site https://vics.dev.br. Levamos sua privacidade a
                        sério e
                        estamos
                        comprometidos em proteger suas informações pessoais.</p></li>

                <li>2. Informações Coletadas<p>
                        Nós coletamos informações que você nos fornece
                        diretamente,
                        como
                        nome,
                        e-mail,
                        telefone, etc., ao preencher formulários em nosso site.
                        Também
                        coletamos
                        automaticamente algumas informações sobre seu
                        dispositivo e
                        uso
                        do
                        site,
                        incluindo endereço IP, informações do navegador, páginas
                        visitadas e
                        outras
                        atividades no site.</p></li>

                <li>3. Uso das Informações<p>
                        Utilizamos suas informações para:

                        Fornecer, operar e melhorar nossos serviços.
                        Comunicar-nos com você, incluindo responder a suas
                        consultas
                        e
                        fornecer
                        suporte
                        ao cliente.
                        Para fins de marketing e promocionais, de acordo com as
                        preferências
                        que
                        você
                        expressou.</p></li>
                <li>4. Compartilhamento de Informações<p>
                        Podemos compartilhar suas informações com terceiros nas
                        seguintes
                        circunstâncias:

                        Com fornecedores ou prestadores de serviços que nos
                        apoiam
                        nos
                        negócios.
                        Para cumprir com a lei, regulamentos ou um processo
                        legal
                        válido.
                        Para proteger os direitos e a segurança da VICS e dos
                        seus
                        usuários.</p></li>
                <li>5. Segurança dos Dados<p>
                        Empregamos medidas de segurança apropriadas para
                        proteger
                        suas
                        informações
                        contra acesso não autorizado, alteração, divulgação ou
                        destruição.</p></li>

                <li>6. Seus Direitos<p>
                        Você tem o direito de acessar, corrigir, excluir ou
                        limitar
                        o
                        uso de
                        suas
                        informações pessoais. Se deseja exercer esses direitos,
                        entre em
                        contato
                        conosco
                        pelo e-mail cristiano&#64;engenhariadedados.tec.br.</p></li>

                <li>7. Alterações à Política de Privacidade<p>
                        Reservamo-nos o direito de modificar esta política a
                        qualquer
                        momento.
                        Qualquer
                        alteração será efetiva imediatamente após a publicação
                        da
                        política
                        revisada no
                        site.</p></li>

                <li>8. Contato<p>
                        Se tiver dúvidas ou preocupações sobre esta Política de
                        Privacidade,
                        entre em
                        contato conosco em cristiano&#64;engenhariadedados.tec.br.</p> </li>
            </ul>

        </div>

    </div>
</div>
