<div class="strategy-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="strategy-image">
                    <img src="assets/img/about-strategy.webp" alt="image"
                        width="696px">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="strategy-content ptb-70">
                    <div class="section-title">
                        <h4>Nossa Estratégia:</h4>
                        <h2>Impulsionando o Sucesso Através da Inovação em <span>Dados
                                e Tecnologia</span></h2>
                        <p>Na VICS, nossa estratégia é centrada na união de
                            tecnologia avançada, expertise em dados e uma
                            abordagem personalizada para atender às necessidades
                            específicas de cada cliente. Entendemos que a chave
                            para o sucesso empresarial no mundo moderno está na
                            capacidade de adaptar-se e inovar continuamente. É
                            por isso que nossa estratégia inclui os seguintes
                            pilares:</p>
                    </div>
                    <ul class="features-list">
                        <li><i class="fa fa-check"></i>Personalização e
                            Flexibilidade</li>
                        <li><i class="fa fa-check"></i>Foco em Dados e Insights</li>
                        <li><i class="fa fa-check"></i>Inovação Contínua</li>
                        <li><i class="fa fa-check"></i>Parceria e Colaboração</li>
                        <li><i class="fa fa-check"></i>Compromisso com a
                            Excelência</li>
                        <li><i class="fa fa-check"></i>Desenvolvimento
                            Sustentável e Crescimento de Longo Prazo</li>
                        <li><i class="fa fa-check"></i>Capacitação e
                            Transferência de Conhecimento</li>
                    </ul>
                    <p>A estratégia da VICS é projetada para fornecer soluções
                        que não apenas resolvam os desafios de hoje, mas também
                        pavimentem o caminho para o sucesso futuro. Com uma
                        mistura de personalização, inovação e parceria, estamos
                        prontos para ajudar sua empresa a alcançar suas metas e
                        objetivos mais ambiciosos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="image"></div>
</div>