<div id="contact" name="contato" class="contact-area ptb-100 bg-F7F5F4">
    <div class="container">
        <div class="section-title">
            <h4>Entrar em contato</h4>
            <h2>Entre em <span>contato</span> conosco</h2>
            <p>Se você tem perguntas sobre como podemos ajudar seu negócio com
                análises de dados, não hesite em nos contatar.</p>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="contact-form">
                    <h3>Conecte-se com a VICS: Seu Próximo Passo Rumo à
                        Inovação em Dados</h3><br>
                    <p>Está pronto para transformar seus dados em seu
                        maior ativo? Na VICS, estamos ansiosos para
                        ajudá-lo a desbloquear o verdadeiro potencial
                        dos seus dados. Seja para impulsionar o
                        crescimento, otimizar operações ou explorar
                        novos mercados.</p><br>
                    <strong>Dê o primeiro passo rumo à transformação de
                        dados. Entre em contato conosco agora e comece
                        sua jornada com a VICS!</strong>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">                
                <div class="contact-info">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i> <span>Localização:</span>Minas Gerais, Brasil</li>
                                <li><i class="far fa-envelope"></i> <a href="mailto:contato@vics.dev.br"><span>Email:</span>contato@vics.dev.br</a></li>
                                <li><i class="fas fa-phone-alt"></i> <a href="https://wa.me/5531971993652"><span>Whatsapp:</span>[+55] (31) 97199-3652</a></li>
                                <li><i class="fab fa-telegram"></i> <a href="https://t.me/@vicsdevbr"><span>Telegram:</span>https://t.me/@vicsdevbr</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>