<div class="who-we-are-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Nossa Origem</h2>
            <p>Na VICS, somos mais do que uma empresa de consultoria em
                ciência
                de dados; somos inovadores, solucionadores de problemas e
                parceiros de negócios comprometidos. Fundada por um grupo de
                entusiastas de dados e estrategistas de negócios, nossa empresa
                nasceu da paixão por transformar dados complexos em soluções
                práticas e eficazes para empresas de todos os tamanhos.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-seedling"></i>
                    <h3>Fundação Inovadora</h3>
                    <p>Nascemos da paixão por unir ciência de dados e estratégia
                        de negócios, com o objetivo de criar soluções inovadoras
                        para desafios complexos do mercado.</p>
                    <span>1</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-users"></i>
                    <h3>Especialistas em Dados</h3>
                    <p>Composto por cientistas de dados, analistas e
                        especialistas em tecnologia, nosso time é dedicado a
                        transformar dados em insights estratégicos.</p>
                    <span>2</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-award"></i>
                    <h3>Compromisso com a Excelência</h3>
                    <p>Integridade, inovação e qualidade guiam nosso trabalho,
                        assegurando soluções de dados confiáveis e de alto
                        padrão.</p>
                    <span>3</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-chart-line"></i>
                    <h3>Análises Personalizadas</h3>
                    <p>Nosso foco é oferecer análises personalizadas, alinhando
                        nossa expertise técnica às necessidades e objetivos
                        específicos de cada cliente.</p>
                    <span>4</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-bullseye"></i>
                    <h3>Além das Expectativas</h3>
                    <p>Ambicionamos ir além das expectativas, proporcionando
                        soluções que impulsionem o crescimento e inovem os
                        processos de negócios.</p>
                    <span>5</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-handshake"></i>
                    <h3>Parceria Rumo ao Sucesso</h3>
                    <p>Convidamos você a se juntar a nós nesta jornada
                        inovadora, onde dados são transformados em sucesso
                        empresarial duradouro.</p>
                    <span>6</span>
                </div>
            </div>
        </div>
    </div>
</div>