<div id="team" class="team-area ptb-100">
  <div class="container">
    <div class="section-title">
      <h4>Conheça a VICS</h4>
      <h2>Nosso <span>time criativo</span></h2>
      <p>Profissionais que unem tecnologia, dados e visão de negócio.</p>
    </div>

    <div class="team-grid">
      <div class="single-team-box" *ngFor="let member of teamMembers">
        <div class="image">
          <img [src]="member.img" [alt]="member.name" />
        </div>
        <div class="content">
          <h3 class="title">{{ member.name }}</h3>
          <span class="post">{{ member.role }}</span>
        </div>
        <div class="social">
          <ul>
            <li><a href="#" target="_blank" class="fab fa-facebook-f"></a></li>
            <li><a href="#" target="_blank" class="fab fa-twitter"></a></li>
            <li><a href="#" target="_blank" class="fab fa-instagram"></a></li>
            <li><a href="#" target="_blank" class="fab fa-linkedin-in"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="shape1">
    <img src="assets/img/shape1.png" alt="shape">
  </div>
</div>
