<div id="work" class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Nosso <span>trabalho</span></h2>
            <p>Nos dedicamos a fornecer análises de dados de classe mundial para
                impulsionar o sucesso dos negócios. Nossos serviços vão desde
                análise preditiva até visualização de dados, todos projetados
                para transformar dados brutos em insights estratégicos. Adotamos
                uma abordagem metodológica rigorosa, combinando técnicas
                estatísticas com inteligência artificial, para fornecer soluções
                precisas e adaptadas às necessidades de cada cliente. Já
                auxiliamos diversas empresas a otimizar suas operações de
                vendas, identificar novas oportunidades de mercado e tomar
                decisões informadas. Utilizamos as tecnologias mais avançadas em
                nossa análise para garantir a eficiência e a precisão dos
                resultados. Nosso compromisso com a excelência em ciência de
                dados é inabalável, e é isso que nos permite entregar resultados
                que não apenas atendem, mas superam as expectativas dos nossos
                clientes.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="work-tabs">
            <ul class="nav-tabset">
                <li class="nav-tab"
                    [ngClass]="{'active': currentTab === 'tab1'}">
                    <span (click)="switchTab($event, 'tab1')">
                        Natureza dos Serviços
                    </span>
                </li>
                <li class="nav-tab"
                    [ngClass]="{'active': currentTab === 'tab2'}">
                    <span (click)="switchTab($event, 'tab2')">
                        Abordagem Metodológica
                    </span>
                </li>
                <li class="nav-tab"
                    [ngClass]="{'active': currentTab === 'tab3'}">
                    <span (click)="switchTab($event, 'tab3')">
                        Tipos de Projetos
                    </span>
                </li>
                <li class="nav-tab"
                    [ngClass]="{'active': currentTab === 'tab4'}">
                    <span (click)="switchTab($event, 'tab4')">
                        Impacto do Trabalho
                    </span>
                </li>
                <li class="nav-tab"
                    [ngClass]="{'active': currentTab === 'tab5'}">
                    <span (click)="switchTab($event, 'tab5')">
                        Casos de Sucesso
                    </span>
                </li>
                <li class="nav-tab"
                    [ngClass]="{'active': currentTab === 'tab6'}">
                    <span (click)="switchTab($event, 'tab6')">
                        Tecnologias Utilizadas
                    </span>
                </li>
                <li class="nav-tab"
                    [ngClass]="{'active': currentTab === 'tab7'}">
                    <span (click)="switchTab($event, 'tab7')">
                        Compromisso com a Excelência
                    </span>
                </li>
            </ul>
            <div class="tabs-container">
                <div class="pane" id="tab1" *ngIf="currentTab === 'tab1'">
                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/analise_dados_varejo.png"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Análise de dados</h3>
                                    <ul>
                                        <li><a
                                                href="https://blog.engenhariadedados.tec.br/?p=76">Varejo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/analise_dados_pet_shop.png"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Análise de dados</h3>
                                    <ul>
                                        <li><a routerLink="/">Pet shop</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img4.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li>.</li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img5.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li>.</li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img6.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li>.</li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab2" *ngIf="currentTab === 'tab2'">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/metodo.jpeg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Estatística</h3>
                                    <ul>
                                        <li><a routerLink="/">Descritiva</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/persona.png"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Tela de persona</h3>
                                    <ul>
                                        <li><a href="#">Desenvolvimento</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/project-model-canvas.jpeg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Projeto</h3>
                                    <ul>
                                        <li><a routerLink="/">Desenvolvimento</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img
                                    src="assets/img/imagem-gerenciamento-integracao-dheka-v3-1.jpeg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Projeto</h3>
                                    <ul>
                                        <li><a routerLink="/">Desenvolvimento</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab3" *ngIf="currentTab === 'tab3'">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img1.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li> . </li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img2.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Games Design</h3>
                                    <ul>
                                        <li><a href="#">IT</a></li>
                                        <li> . </li>
                                        <li><a href="#">Games</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab4" *ngIf="currentTab === 'tab4'">
                    <div class="row">

                    </div>
                </div>
                <div class="pane" id="tab5" *ngIf="currentTab === 'tab5'">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img3.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li>.</li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img4.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li>.</li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane" id="tab6" *ngIf="currentTab === 'tab6'">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img4.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li>.</li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-work">
                                <img src="assets/img/work-img5.jpg"
                                    alt="work-img">
                                <div class="work-content">
                                    <h3>Creative Design</h3>
                                    <ul>
                                        <li><a routerLink="/">Design</a></li>
                                        <li>.</li>
                                        <li><a routerLink="/">Brand</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>