<div id="about" class="about-area ptb-100" #about>
    <div class="container">
        <div class="section-title">
            <h2>Transformamos dados e tecnologia em <span>resultados reais</span></h2>
            <p>A VICS é uma consultoria especializada em soluções de dados, backend e automações inteligentes</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <p>Atuamos como o braço técnico de empresas que desejam escalar com eficiência e confiança, sem precisar montar um time interno.</p>
                        <p>Com sede em <strong>Lagoa Santa/MG</strong>, atendemos empresas de diversos setores – como financeiro, hospitalar e jurídico – sempre com foco em entregar valor com agilidade, transparência e arquitetura escalável.</p>
                        <p>Nosso time combina mais de 20 anos de experiência em desenvolvimento de sistemas, pipelines de dados, integrações (REST, SOAP, Kafka), ambientes cloud (AWS, GCP, Azure), APIs robustas e inteligência de negócios.</p>
                    </div>

                    <div class="section-title">
                        <h2><span>Diferenciais</span></h2>
                    </div>

                    <ul class="features-list">
                        <li><i class="fas fa-check"></i>Domínio técnico profundo com entrega ágil</li>
                        <li><i class="fas fa-check"></i>Experiência em ambientes complexos e críticos</li>
                        <li><i class="fas fa-check"></i>Arquiteturas modernas com foco em performance e escalabilidade</li>
                        <li><i class="fas fa-check"></i>Atuação remota, com proximidade no relacionamento</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-video">
                    <img src="assets/video/vics-img-1.gif" alt="about">
                    <div class="video-btn"></div>
                </div>
            </div>
        </div>
    </div>
</div>
