
<div class="main-banner item-bg-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-text">
                    <h1>Tecnologia que impulsiona decisões.</h1>
                    <h4>Consultoria especializada em engenharia de dados, automações e integrações robustas para empresas que precisam escalar com segurança e inteligência.</h4>
                    <p>📍 Baseados em Lagoa Santa/MG, atuamos remotamente em todo o Brasil e Portugal.</p>
                    <a (click)="onClick('about')" class="btn btn-primary">Fale com a gente</a>
                    <a (click)="onClick('work')"
                        class="btn btn-primary view-work">Conheça nossos serviços</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-welcome></app-welcome>

<app-about></app-about>

<app-strategy></app-strategy>

<!--<app-who-we-are></app-who-we-are>-->

<app-cta></app-cta>

<!--<app-skill></app-skill>-->

<!--<app-funfacts></app-funfacts>-->

<!--<app-team></app-team>-->

<app-how-we-work></app-how-we-work>

<app-services></app-services>

<app-tech-equity-cta></app-tech-equity-cta>

<app-why-we-different></app-why-we-different>

<app-work></app-work>

<!--<app-pricing></app-pricing>-->

<app-faq></app-faq>

<app-feedback></app-feedback>

<app-blog-home></app-blog-home>

<!--<app-partner></app-partner>-->

<!--<app-subscribe></app-subscribe>-->
<app-contact-form></app-contact-form>