
<div class="main-banner item-bg-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-text">
                    <h1>Consultoria em Dados e Desenvolvimento de Sistemas sob medida para sua empresa</h1>
                    <h4>Atendemos empresas e startups de Lagoa Santa, região metropolitana de BH e todo estado de Minas Gerais. Transformamos dados em decisões inteligentes e desenvolvemos sistemas que crescem junto com seu negócio.</h4>
                    <div class="banner-btn-group">
                        <a (click)="onClick('contact')" class="btn btn-primary btn-lg me-3">💬 Fale com a VICS</a>
                        <a (click)="onClick('services')" class="btn btn-info btn-lg">🚀 Ver nossos serviços</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-welcome></app-welcome>

<app-services></app-services>

<app-storytelling></app-storytelling>

<app-cta></app-cta>

<!--<app-work></app-work>-->

<!--<app-pricing></app-pricing>-->

<app-faq></app-faq>

<app-feedback></app-feedback>

<app-blog-home></app-blog-home>

<!--<app-partner></app-partner>-->

<!--<app-subscribe></app-subscribe>-->
<app-contact-form></app-contact-form>